@import "tailwindcss";
@theme {
    --font-display: "Lexend", sans-serif;

    --color-primary: #137fec;
    --color-background-light: #f6f7f8;
    --color-background-dark: #101922;
    --color-surface-dark: #1c2127;
    --color-border-dark: #283039;
    --color-text-secondary: #9dabb9;

    --radius-default: 0.25rem;
    --radius-lg: 0.5rem;
    --radius-xl: 0.75rem;
}

/* Base resets and dark mode strategy */
@layer base {
    html {
        @apply font-display;
    }

    .dark body {
        @apply bg-background-dark text-white;
    }

    body {
        @apply bg-background-light text-slate-900;
    }
}